@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply m-0 bg-gradient-to-b from-rose-50 via-sky-50 to-yellow-50 font-display text-slate-700;
}

@media print {
  body {
    background: white !important;
  }

  .no-print {
    display: none !important;
  }

  .print-card {
    box-shadow: none !important;
    border: none !important;
  }
}
